
<div class="row experience-cards">
<div class='experience_section col-md-8 col-12'>
  <div class="card">
    <h3>Trade Analyst <span style='color:#63FFDA'>@Banco Safra</span></h3>
    <br>
    <p>Safra is a Brazilian private bank, ranking sixth among the country’s largest financial institutions in terms of total assets. - Dec 2018 - Jun 2021</p>
    <span class='content'>
      <ul class='activities-list'>
        <li>Maintains daily contact with sales and operation teams in all 108 Brazilian branches</li>
        <li>Consistently negotiates 15% to 20% spread increase in operations, positively impacting profit margin</li>
        <li>Supports cross-selling, offering complementary products to increase return on equity (ROE) and return on assets (ROA)</li>
        <li>Ensures accurate calculation of treasury cost, mark-to-market (MTM), fixed and floating interest rates conversions, etc.</li>
      </ul>
    </span>
    <button class='more'>More</button>
  </div>
  <div class="card">
    <h3>Teaching Assistant <span style='color:#63FFDA'>@Le Wagon</span></h3>
    <br>
    <p>I was a Teaching Assistant at the Brussels campus for the #748 batch. I assisted Lead Teachers in teaching and supporting students learning Ruby, Databases Design & SQL, Active Records, HTML, CSS and JavaScript. - Oct 2021 - May 2022</p>
    <span class='content'>
      <ul class= 'activities-list'>
        <li>I was a Teaching Assistant at the Brussels campus for the #748 batch. I assisted Lead Teachers in teaching and supporting students learning Ruby, Databases Design & SQL, Active Records, HTML, CSS and JavaScript.</li>
      </ul>
    </span>
    <button class='more'>More</button>
  </div>
  <div class="card">
    <h3>Software Engineer <span style='color:#63FFDA'>@Vinklo</span></h3>
    <br>
    <p>Vinklo is a digital invite and gifting platform backed by LatAm (Atlantico, Canary) and European (Venture City) venture capital firms. In a 10-person team, I'm building a platform that enables gifting people using only their phone numbers.</p>
    <span class='content'>
      <ul class='activities-list'>
        <li>Integrated vendors' product category definitions (e.g., baby clothes) and subcategories (e.g., baby socks), creating rules to ensure correct product allocation within a 30k-product catalog, consequently improving our navigation experience and conversion rates</li>
        <li>Implemented user dashboard's orders tabs, separating gifted (shipped, canceled) and received (claimed, exchanged, canceled) orders, allowing quicker, more organized, and transparent user experience for 3M users/month</li>
        <li>Implemented survey campaigns (i.e., commemorative dates, such as Mother's Day or Valentines' Day), creating the logic to connect email provider (Brevo) and answered surveys (Typeform) to cashback and discount codes, increasing monthly orders</li>
        <li>Implemented product category map page (20 categories, 30k products), improved user engagement, and reduced order loss</li>
        <li>Stack: Ruby on Rails</li>
      </ul>
      </span>
    <button class='more'>More</button>
  </div>
</div>


</div>
