
<div class="row experience-cards">
<div class='experience_section col-md-8 col-12'>
  <div class="card">
    <h3>Trade Analyst <span style='color:#63FFDA'>@Banco Safra</span></h3>
    <br>
    <p>Safra is a Brazilian private bank, ranking sixth among the country’s largest financial institutions in terms of total assets. - Dec 2018 - Jun 2021</p>
    <span class='content'>
      <ul class='activities-list'>
        <li>Maintains daily contact with sales and operation teams in all 108 Brazilian branches</li>
        <li>Consistently negotiates 15% to 20% spread increase in operations, positively impacting profit margin</li>
        <li>Supports cross-selling, offering complementary products to increase return on equity (ROE) and return on assets (ROA)</li>
        <li>Ensures accurate calculation of treasury cost, mark-to-market (MTM), fixed and floating interest rates conversions, etc.</li>
      </ul>
    </span>
    <button class='more'>More</button>
  </div>
  <div class="card">
    <h3>Teaching Assistant <span style='color:#63FFDA'>@Le Wagon</span></h3>
    <br>
    <p>I was a Teaching Assistant at the Brussels campus for the #748 batch. I assisted Lead Teachers in teaching and supporting students learning Ruby, Databases Design & SQL, Active Records, HTML, CSS and JavaScript. - Oct 2021 - May 2022</p>
    <span class='content'>
      <ul class= 'activities-list'>
        <li>I was a Teaching Assistant at the Brussels campus for the #748 batch. I assisted Lead Teachers in teaching and supporting students learning Ruby, Databases Design & SQL, Active Records, HTML, CSS and JavaScript.</li>
      </ul>
    </span>
    <button class='more'>More</button>
  </div>
  <div class="card">
    <h3>Software Engineer <span style='color:#63FFDA'>@Global Vision</span></h3>
    <br>
    <p>Global Vision gathers and analyzes data (e.g. humidity, topography, biodiversity, weather) from diverse sources (e.g. drones, stations,
    sensors) to enhance environmental performance from vineyards to golf courses, through recommendation reports anchored in best practices and ecological principles. - Jun 2022 - Sept 2022</p>
    <span class='content'>
      <ul class='activities-list'>
        <li>Implemented the logic to convert client data into recommendations, based on in-house best practices (60+ possible scenarios)</li>
        <li>Refactored code used to issue recommendations, increasing readability while reducing lines of code (LOC) by 30%</li>
        <li>Developed the new WordPress website to communicate the company's new services and change the look and feel of the brand</li>
        <li>Implemented 3 different sets of recommendations (e.g. nature, resources, community), reflecting robust solutions to clients</li>
        <li>Stack: Python, Draw.io, WordPress</li>
      </ul>
      </span>
    <button class='more'>More</button>
  </div>
</div>


</div>
