<div id= 'contact' class="footer">
  <div class="footer-socials">

    <p><i class="fa-solid fa-hammer social"></i>Built by Luis Ghidelli</p>
    <a href="https://github.com/LFGhidelli"><p> <i class="fa-brands fa-github social"></i>Github</p></a>
    <a href="https://www.linkedin.com/in/ghidelli/"></p> <i class="fa-brands fa-linkedin"></i> LinkedIn</a>
    <p> <i class="fa-regular fa-envelope social"></i>luisfernando.ghidelli@gmail.com</p>
  </div>
</div>
