<div class='hero'>
  <div class='greeting'>
    <div class='greeter'>
      <h1>Hi, my name is</h1>
    </div>
    <div class='name'>
      <h1>Luis Ghidelli.</h1>
    </div>
    <div class='role'>
      <h1>I'm a web dev.</h1>
    </div>
  </div>
</div>
