<div id='projects-section'>

  <div class='faros-project'>

    <div class="faros-pic"></div>
    <%# <%= link_to image_tag('Faros.jpeg'), 'http://www.google.com', class:'faros-btn-pic' %> %>

    <div>
      <p class='featured-project'>Featured Project</p>
      <h3 class='featured-project-title'>Faros</h3>
      <div class='project-content-faros'>
        <p>Designed and developed a web application that helps users to have better and more constructive conversations with significant others. <span style='color:#63FFDA'>Faros is a flash-card-like application </span></p>
      </div>
    </div>

  </div>

  <div class="pokedex-project">
    <div>
      <p class='featured-project-left'>Featured Project</p>
      <h3 class='featured-project-title-left'>Rails Pokedex</h3>
      <div class='project-content-left'>
        <p>A web app to search or browse through your favorite Pokémon <span style='color:#63FFDA'>Searching your favorite Pokémon</span> made possible using <span style='color:#63FFDA'>JavaScript, Rails and an API!</span></p>
      </div>
    </div>

    <div class="pokedex-pic"></div>
    <%# <%= image_tag 'pokedex_2.png', class:'pokedex-pic' %>
  </div>
</div>
