<div class='container', class = "col-lg-6 col-md-8 col-sm-12">
  <div class='about-section'>

    <div class='inner'>
      <p>Hello! My name is Luis and <span style='color:#63FFDA'>I'm a trader turned web developer</span>. After almost 4 years in finance, I couldn't help but see the huge impact technology had in all sectors across the economy. I decided it was time to make a change, so I quit my job and enrolled in a programming course in Brussels to learn how to code. 450h of hands-on experience later, I was eager and ready to start my career as a developer.</p>
      <p>Fast forward a bit and I've had the privilege of working at <span style='color:#63FFDA'>the very same coding school I went to, a start-up and another coding school in Dublin</span>. Other than that, I'm always working on side projects.</p>
      <p>Some techonologies that I've worked with:</p>
      <ul class='skill-set'>
        <li>Ruby on Rails</li>
        <li>Ruby</li>
        <li>React</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>HTML/ CSS</li>
      </ul>
    </div>
  </div>

  <h2 id='my-experience' class='about-header'><span class='span-num'>02.</span> Where I've worked</h2>
  <div class='experience_section'>
    <div class="card">
      <h3>Trade Analyst <span style='color:#63FFDA'>@Banco Safra</span></h3>
      <br>
      <p>Safra is a Brazilian private bank, ranking sixth among the country’s largest financial institutions in terms of total assets. - Dec 2018 - Jun 2021</p>
      <span class='content'>
        <ul class='activities-list'>
          <li>Maintains daily contact with sales and operation teams in all 108 Brazilian branches</li>
          <li>Consistently negotiates 15% to 20% spread increase in operations, positively impacting profit margin</li>
          <li>Supports cross-selling, offering complementary products to increase return on equity (ROE) and return on assets (ROA)</li>
          <li>Ensures accurate calculation of treasury cost, mark-to-market (MTM), fixed and floating interest rates conversions, etc.</li>
        </ul>
      </span>
      <button class='more'>More</button>
    </div>
    <div class="card">
      <h3>Teaching Assistant <span style='color:#63FFDA'>@Le Wagon</span></h3>
      <br>
      <p>I was a Teaching Assistant at the Brussels campus for the #748 batch. I assisted Lead Teachers in teaching and supporting students learning Ruby, Databases Design & SQL, Active Records, HTML, CSS and JavaScript. - Oct 2021 - May 2022</p>
      <span class='content'>
        <ul class= 'activities-list'>
          <li>I was a Teaching Assistant at the Brussels campus for the #748 batch. I assisted Lead Teachers in teaching and supporting students learning Ruby, Databases Design & SQL, Active Records, HTML, CSS and JavaScript.</li>
        </ul>
      </span>
      <button class='more'>More</button>
    </div>
    <div class="card">
      <h3>Software Engineer <span style='color:#63FFDA'>@Global Vision</span></h3>
      <br>
      <p>Global Vision gathers and analyzes data (e.g. humidity, topography, biodiversity, weather) from diverse sources (e.g. drones, stations,
      sensors) to enhance environmental performance from vineyards to golf courses, through recommendation reports anchored in best practices and ecological principles. - Jun 2022 - Sept 2022</p>
      <span class='content'>
        <ul class='activities-list'>
          <li>Implemented the logic to convert client data into recommendations, based on in-house best practices (60+ possible scenarios)</li>
          <li>Refactored code used to issue recommendations, increasing readability while reducing lines of code (LOC) by 30%</li>
          <li>Developed the new WordPress website to communicate the company's new services and change the look and feel of the brand</li>
          <li>Implemented 3 different sets of recommendations (e.g. nature, resources, community), reflecting robust solutions to clients</li>
          <li>Stack: Python, Draw.io, WordPress</li>
        </ul>
        </span>
      <button class='more'>More</button>
    </div>
  </div>


  <h2 id='my-works' class='about-header'><span class='span-num'>03.</span> Things I've built</h2>

  <div id='projects-section'>

    <div class='faros-project'>

      <div class="faros-pic"></div>
      <%# <%= link_to image_tag('Faros.jpeg'), 'http://www.google.com', class:'faros-btn-pic' %> %>

      <div>
        <p class='featured-project'>Featured Project</p>
        <h3 class='featured-project-title'>Faros</h3>
        <div class='project-content-faros'>
          <p>Designed and developed a web application that helps users to have better and more constructive conversations with significant others. <span style='color:#63FFDA'>Faros is a flash-card-like application </span></p>
        </div>
      </div>

    </div>

    <div class="pokedex-project">
      <div>
        <p class='featured-project-left'>Featured Project</p>
        <h3 class='featured-project-title-left'>React Pokedex</h3>
        <div class='project-content-left'>
          <p>A web app to search or browse through your favorite Pokémon <span style='color:#63FFDA'>Searching your favorite Pokémon</span> made possible using <span style='color:#63FFDA'>JavaScript, the React library and an API!</span></p>
        </div>
      </div>

      <div class="pokedex-pic"></div>
      <%# <%= image_tag 'pokedex.png', class:'pokedex-pic' %> %>
    </div>

  </div>

</div>
