/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 *{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
 }

 body {
  background-color: #0A192F;
  // padding: 10px 40px;
 }

h1 {
  color: white;
}

.container {
  padding: 0px 100px;
  margin-top: 10%;
}

.faros-project {
  display: flex;
}

.faros-pic{
  background-image: linear-gradient(rgba(97, 231, 204, 0.5), rgba(97, 231, 204, 0.5)), url('Faros.jpeg');
  background-size: cover;
  background-position: center;
  width: 151rem;
  height: 250px;
}

.faros-pic:hover {
  background-image: url('Faros.jpeg');
}

.faros-btn-pic img {
  height: 342px;
  width: 545px;
  border-radius: 4px;
  background-color: linear-gradient(rgba(97, 231, 204, 0.5), rgba(99, 255, 218, 0.5));
}


#projects-section {
  margin-top: 5%;
  padding: 0px 118px;
}

.project-content-faros{
  color: #8892B0;
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  font-size: 14px;
  background-color: #112240;
  width: 98%;
  position: relative;
  right: 46px;
  padding: 15px 30px;
  margin-top: 28px;
  border-radius: 8px;
  opacity: 0.88;
}

.featured-project {
  color: #63FFDA;
  font-family: 'Roboto Mono', monospace;
  text-align: end;
  font-weight: lighter;
}

.featured-project-title {
  color: #CCD6F6;
  font-family: 'Roboto Mono', monospace;
  text-align: end;
  margin-top: 10px;
}

.pokedex-project {
  display: flex;
  margin-top: 12%;
}

.featured-project-left {
  color: #63FFDA;
  font-family: 'Roboto Mono', monospace;

  font-weight: lighter;
}

.featured-project-title-left {
  color: #CCD6F6;
  font-family: 'Roboto Mono', monospace;
  margin-top: 10px;
}

.pokedex-pic {
  background-image: linear-gradient(rgba(97, 231, 204, 0.5), rgba(99, 255, 218, 0.5)), url('pokedex.png');
  width: 400rem;
  background-size: cover;
  background-position: center;
  width: 99rem;
  height: 250px;
  // background-image: url('../images/pokedex.png')
}

.pokedex-pic:hover{
  background-image: url('pokedex.png');
}

// .pokedex-pic:hover {
//   background: #63FFDA;
// }

.project-content-left {
  background-color: #112240;
  color: #8892B0;
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  font-size: 14px;
  padding: 23px 30px;
  width: 98%;
  position: relative;
  opacity: 0.88;
  border-radius: 8px;
  margin-top: 44px;
}

// #64ffda;
