.footer {
  color: #8892B0;
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  margin-bottom: 42px;
  margin-top: 42px;
}

.footer-socials {
  text-align: initial;

  a {
    text-decoration: none;
    color: #8892B0;
  }
}

.social {
  margin-right: 8px;
}
