.hero {
  padding: 0px;
}

.greeter h1 {
  color: #63FFDA;
}

.name h1 {
  color: #CCD6F6;
}

.role h1 {
  color: #8892B0;
}


.greeter h1 {
  font-family: 'Share Tech Mono', monospace;
  font-weight: normal;
  font-size: larger;
}

.name h1 {
  font-family: 'Roboto Mono', monospace;
  margin-top: 16px;
  font-size: 64px;
}

.role h1 {
  font-family: 'Roboto Mono', monospace;
  margin-top: 16px;
  font-size: 40px;
}
